<app-navigation></app-navigation>
<br>
<br>
<div class="container">
    <h1>Administración de respuestas para el componente de competencias</h1>
    <hr>
    <br> <br>
    <form [formGroup]="respuestasForm" autocomplete="off">


        <div class="row">
            <div class="col-4">
                <textarea formControlName="descripcion"
                    placeholder="Ingresa una opción de respuesta para el modulo de competencias"></textarea>
            </div>
            <div class="col-4">
                <label>Asigna un peso a esta respuesta</label>
                <input type="number" formControlName="peso">
            </div>
            <div class="col-4">
                <button (click) = "agregarRespuesta()">Agregar <i class="fas fa-plus"></i> </button>
            </div>
        </div>


        <div class="card-container">
            <div *ngFor="let item of respuestas; let i = index;" class="card">
                <div class="card__header">
                    <label> Respuesta: {{ i + 1 }} </label>
                </div>
                <br>
                <div class="card__content">
                    <div class="row">
                        <div class="col-10">
                            <textarea type="text" id="{{item.id}}">{{item.descripcion}}</textarea> <br><br>
                            <div class="row">
                                <div class="col-2"><label>Peso:</label></div>
                                <div class="col-10">
                                    <input type="number" id="peso-{{item.id}}" value="{{item.peso}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <i class="fa-solid fa-save" style="font-size: 3rem; color: blue;"
                                (click)="editarrespuesta(item.id)"></i>
                            <br><br><br>
                            <i class="fa-solid fa-trash" style="font-size: 3rem; color: red;"
                                (click)="eliminarrespuesta(item.id)"></i>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>

                </div>
                <div class="card__footer">

                </div>
            </div>
        </div>

    </form>
</div>