<app-navigation></app-navigation>
<div class="container">
    <br>
    <!--    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Numero Documento</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuario|paginador:p_Size:page">
                    <td style="text-align: center;">{{ usuario.usuarioId }}</td>
                    <td style="text-align: center;">{{ usuario.nombre }}</td>
                    <td style="text-align: center;">{{ usuario.numDocumento }}</td>
                    <td style="text-align: center;">{{ usuario.estado ? 'Activo' : 'Inactivo' }}</td>
                    <td class="fa-solid fa-pen action-button" ngbTooltip="Editar"
                        (click)="editarUsuarios(usuario.usuarioId)"></td>
                    <td class="fa-solid fa-trash action-button" ngbTooltip="Eliminar"
                        (click)="eliminarUsuarios(usuario.usuarioId)"></td>
                    <td>
                    </td>
                </tr>
            </tbody>

        </table>

        <br>
        <hr>


    </div>-->


    <br>

    <form [formGroup]="usuariosForm" autocomplete="off" class="container">

        <label for="buscarDoc">Buscar Usuario</label>
        <div class="row">
            <div class="col-6">
                <input type="text" formControlName="buscarDoc" placeholder="Por favor digite el numero de documento">
            </div>
            <div class="col-3">
                <button type="button" class="fa-solid fa-search action-button" (click)="buscarUsuarios()"></button>
            </div>
            <div class="col-3">
                <button type="button" class="fa-solid fa-broom action-button" (click)="LimpiarFormulario()"></button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-6">

                <label for="correoelectronico">Correo: * </label>
                <input type="text" formControlName="correoelectronico" required><br><br>


                <label for="nombre">Nombres: * </label>
                <input type="text" formControlName="nombre" required> <br><br>

                <label for="tipodocumento">Tipo documento: * </label>
                <select id="tipodocumento" formControlName="tipodocumento">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of TipDocs" value="{{item.tipoDocumento}}">{{item.descripcion}}</option>
                </select><br><br>

                <label for="numdocumento">Numero Documento: * </label>
                <input type="text" formControlName="numdocumento" required><br><br>

                <label for="telefono">Telefono: * </label>
                <input type="text" formControlName="telefono" required><br><br>

                <label for="direccion">Direccion: * </label>
                <input type="text" formControlName="direccion" required><br><br>

                <label for="fechanacimiento">Fecha Nacimiento: * </label>
                <input type="date" formControlName="fechanacimiento" required><br><br>

                <label for="estado">Estado:</label>
                <select formControlName="estado" required>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select><br><br>
            </div>

            <div class="col-6">
                <label for="contraseña">contraseña: * </label>
                <input type="password" formControlName="contraseña" required><br><br>

                <label for="fechacreacion">Fecha Acción: * </label>
                <input type="date" formControlName="fechacreacion" required [attr.disabled]="true"><br><br>

                <label for="sexoid">Sexo: * </label>
                <select id="sexoid" formControlName="sexoid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Sexo" value="{{item.sexoId}}">{{item.descripcion}}</option>
                </select><br><br>

                <div>
                    <div>
                        <label for="autocompleteInput">Jefe Inmediato:</label>
                        <input id="autocompleteInput" [formControl]="miControl" type="text" 
                            placeholder="Escribe para autocompletar" (input)="filtrarUsuarios($event)" />
                    </div>

                    <ul class="list-group">
                        <li *ngFor="let usuario of filtroUsuarios" class="list-group-item"
                            (click)="seleccionarUsuario(usuario)" style="cursor: pointer;">
                            {{ usuario.nombre }}
                        </li>
                    </ul>
                </div><br>

                <label for="cargoid">Cargo: * </label>
                <select id="cargoid" formControlName="cargoid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Cargos" value="{{item.cargoId}}">{{item.descripcion}}</option>
                </select><br><br>

                <label for="rolid">Rol del usuario: * </label>
                <select id="rolid" formControlName="rolid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Roles" value="{{item.rolId}}">{{item.descripcion}}</option>
                </select><br><br>

                <label for="empresaid">Empresa: * </label>
                <select id="empresaid" formControlName="empresaid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Empresa" value="{{item.empresaId}}">{{item.nombre}}</option>
                </select><br><br>



            </div>
        </div>
 
        <button type="button" (click)="guardaUsuarios()">{{ usuarioToEdit ? 'Editar Usuario' : 'Crear
            Usuario'}}</button> &nbsp;&nbsp;
        <button type="button" *ngIf="usuarioToEdit" (click)="eliminarUsuarios(this.usuario[0].usuarioId)">Eliminar</button>

    </form>
    <div class="canva" *ngIf="canva"><img src="../../../assets/load.gif" alt="Cargando" /></div>

</div>