<app-navigation></app-navigation>
<div class="container">
    <br>
    <br>

    <div class="row">
        <div class="col-6"><button type="button" class="btn-users" (click)="tipocargue(1)" title="por carga"> Carga masiva </button>
        </div>
        <div class="col-6"><button type="button" class="btn-users" (click)="tipocargue(2)" title="individual"> Individual </button> </div>
    </div>
    <br>
    <hr>
    <br>


    <form [formGroup]="usuariosForm" autocomplete="off" class="container" *ngIf="tipoCargue">

        <label for="buscarDoc">Buscar Usuario</label>
        <div class="row">
            <div class="col-6">
                <input type="text" formControlName="buscarDoc" placeholder="Por favor digite el numero de documento">
            </div>
            <div class="col-3">
                <button type="button" class="fa-solid fa-search action-button" (click)="buscarUsuarios()"></button>
            </div>
            <div class="col-3">
                <button type="button" class="fa-solid fa-broom action-button" (click)="LimpiarFormulario()"></button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-6">

                <label for="correoelectronico">Correo: * </label>
                <input type="text" formControlName="correoelectronico" required><br><br>


                <label for="nombre">Nombres: * </label>
                <input type="text" formControlName="nombre" required> <br><br>

                <label for="tipodocumento">Tipo documento: * </label>
                <select id="tipodocumento" formControlName="tipodocumento">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of TipDocs" value="{{item.tipoDocumento}}">{{item.descripcion}}</option>
                </select><br><br>

                <label for="numdocumento">Numero Documento: * </label>
                <input type="text" formControlName="numdocumento" required><br><br>

                <label for="telefono">Telefono: * </label>
                <input type="text" formControlName="telefono" required><br><br>

                <label for="direccion">Direccion: * </label>
                <input type="text" formControlName="direccion" required><br><br>

                <label for="fechanacimiento">Fecha Nacimiento: * </label>
                <input type="date" formControlName="fechanacimiento" required><br><br>

                <label for="estado">Estado:</label>
                <select formControlName="estado" required>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select><br><br>
            </div>

            <div class="col-6">
                <label for="contraseña">contraseña: * </label>
                <input type="password" formControlName="contraseña" required><br><br>

                <label for="fechacreacion">Fecha Acción: * </label>
                <input type="date" formControlName="fechacreacion" required [attr.disabled]="true"><br><br>

                <label for="sexoid">Sexo: * </label>
                <select id="sexoid" formControlName="sexoid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Sexo" value="{{item.sexoId}}">{{item.descripcion}}</option>
                </select><br><br>

                <div>
                    <div>
                        <label for="autocompleteInput">Jefe Inmediato:</label>
                        <input id="autocompleteInput" [formControl]="miControl" type="text"
                            placeholder="Escribe para autocompletar" (input)="filtrarUsuarios($event)" />
                    </div>

                    <ul class="list-group">
                        <li *ngFor="let usuario of filtroUsuarios" class="list-group-item"
                            (click)="seleccionarUsuario(usuario)" style="cursor: pointer;">
                            {{ usuario.nombre }}
                        </li>
                    </ul>
                </div><br>

                <label for="cargoid">Cargo: * </label>
                <select id="cargoid" formControlName="cargoid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Cargos" value="{{item.cargoId}}">{{item.descripcion}}</option>
                </select><br><br>

                <label for="rolid">Rol del usuario: * </label>
                <select id="rolid" formControlName="rolid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Roles" value="{{item.rolId}}">{{item.descripcion}}</option>
                </select><br><br>

                <label for="empresaid">Empresa: * </label>
                <select id="empresaid" formControlName="empresaid">
                    <option value="0">--Seleccione una opcion--</option>
                    <option *ngFor="let item of Empresa" value="{{item.empresaId}}">{{item.nombre}}</option>
                </select><br><br>



            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn-users" (click)="guardaUsuarios()">{{ usuarioToEdit ? 'Editar Usuario' : 'Crear
                    Usuario'}}</button> 
            </div>
            <div class="col-6">
                <button type="button" class="btn-users" *ngIf="usuarioToEdit"
                (click)="eliminarUsuarios(this.usuario[0].usuarioId)">Eliminar</button>
            </div>
        </div>
      
  

    </form>
    <div *ngIf="cargueArchivo">
        <label> Selecciona el archivo .csv </label> <br><br><br>
        <input type="file" id="archivoUser"> <br><br><br><br>
        <button class="btn-users" (click)="cargaUsers()">Cargar</button>
    </div>

    <div class="canva" *ngIf="canva"><img src="../../../assets/load.gif" alt="Cargando" /></div>

</div>
<br><br><br>