<app-navigation (getUser)="getUser($event)"></app-navigation>

<div class="survey background-right">
    <div>
        <h1 class="tr-survey"> Encuestas asignadas </h1><br><br><br>

        <table *ngIf="surveyList.length > 0" class="survey-table">

            <tbody>
                <tr >
                  <td class="tr-survey"><b>Nombre encuesta</b></td>
                  <td class="tr-survey"><b>Fecha de inicio</b></td>
                  <td class="tr-survey"><b>Fecha Limite</b></td>
                  <td class="tr-survey"><b>Estado</b></td>
                </tr>
                <tr *ngFor="let survey of surveyList">
                    <td class="survey-table-info">
                        <div class="survey-table-info-title">{{ survey.name }}</div>
                        <div class="survey-table-info-desc">{{ survey.description }}</div>
                    </td>
                    <td>
                      <div class="survey-table-info-date">Disponible Desde {{ survey.started | date:"dd/MM/yyyy" }}</div>
                    </td>
                    <td>
                      <div class="survey-table-info-date">Disponible hasta {{ survey.finished | date:"dd/MM/yyyy" }}</div>
                    </td>
                    <td>
                      <span *ngIf="survey.isAnswered == 0" class="fa-solid fa-circle text-danger"></span>
                      <span *ngIf="survey.isAnswered == 1" class="fa-solid fa-circle text-success"></span>
                      {{ survey.isAnswered  ? "Realizada" : "Pendiente" }}
                    </td>
                    <td class="action">
                        <button *ngIf="survey.isAnswered == 0 || (survey.isAnswered == 1 && survey.draft == 1)" (click)="openEdit(survey.surveyId)">Responder</button>
                        <button *ngIf="survey.isAnswered == 1 && survey.draft == 0" class="action-white" (click)="openEdit(survey.surveyId)">Ver</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table *ngIf="surveyList.length == 0" class="survey-table">
            <thead>
                <tr><th>Encuestas pendientes</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="survey-table-error">
                       <strong>-- No tienes encuentas pendientes -- </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="canva" *ngIf="canva"><img src="../../assets/load.gif" alt="Cargando" /></div>
