@import '../../../variables.scss';
@import '../../../mixins.scss';

.survey {
  padding: 2rem 7rem;

  &-table {
    &-info {
      &-title {
        font-size: 1.9rem;
        font-weight: bold;
      }

      &-desc {
        font-size: 1.6rem;
      }

      &-date {
        font-size: 1.5rem;
        font-style: italic;
      }
    }

    &-error {
      font-size: 1.6rem;
      font-style: italic;
      padding: 4rem 0;
      text-align: center;
      color: $darkgray;
    }

    & .action-green {
      background-color: #71b971;
      color: white;
    }

    & .action-blue {

      background-color: #1A80E5;
      color: white;
    }
  }
}

.tr-survey {
  color: #1A80E5;
  font-family: "Poppins";
  text-align: center !important;
  font-size: 2.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom-color: #1A80E5;
  border-bottom-width: 2px;
  border-bottom-style: inset;
}
