<app-navigation></app-navigation>
<div class="departments background-right">
  <div class="departments__content">
      <table class="departments__content__table">
        <thead>
          <tr>
            <td class="departments__content__table--fc"><h3>Departamento</h3></td>
            <td class="departments__content__table--lc"><h3>Empleados</h3></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of departments">
            <td class="departments__content__table--fc">
              <div>
                <span ngbTooltip="Editar" class="fa-solid fa-pen action-button" style="display: none;" (click)="editMethod(department.id)"></span>
                <span>{{department.name}}</span>
                <div [style.background-color]="department.colorHex"></div>
              </div>
            </td>
            <td class="departments__content__table--lc">{{department.employeesCount}}</td>
          </tr>
        </tbody>
      </table>
      <div class="departments__content__add" *ngIf="!saveDepartments">
        <button  (click)="adminRoles()">Administrar departamentos</button>
      </div>
      <div class="departments__content__add" *ngIf="saveDepartments">
        <button (click)="saveMethod()">Agregar</button>
        <button (click)="cancelMethod()">Cancelar</button>
      </div>
  </div>
</div>

<!-- Para versión sin integración (click)="openModal(modalAddDepartment)" en el button Administrar departamentos -->
<ng-template #modalAddDepartment let-modal>
  <div class="modal-body">
    <div class="modal-close" (click)="closeModal()">
      <i class="fa-regular fa-circle-xmark fa-2xl"></i>
    </div>
    <div class="modal-form">
      <form [formGroup]="formAdd" (ngSubmit)="validateFormAdd()">
        <div class="information__item">
          <label for="departmentName">Nombre del Departamento</label>
          <div>
            <input type="text" formControlName="name" name="name" id="departmentName">
            <ul *ngIf="errors.validate(name)"><li *ngFor="let message of errors.getErrors(name)">{{ message }}</li></ul>
          </div>
        </div>
        <div class="information__btn">
          <button type="submit" (click)="saveMethod()">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<div class="canva" *ngIf="canva"><img src="../../assets/load.gif" alt="Cargando" /></div>
