<nav class="gradient-nav">
  <ul>
    <li><a></a></li>
  </ul>
</nav> <br>

<div class="container">
  <form [formGroup]="usuariosForm" autocomplete="off" class="container">

    <h2>Información del postulante</h2>
    <hr><br><br>

    <div class="row">
      <div class="col-6">

        <label for="correoelectronico">Nombres del postulante: * </label>
        <input type="text" formControlName="nombrePostulante" required><br><br>

        <label for="nombre">Apellidos del postulante: * </label>
        <input type="text" formControlName="apellidosPostulante" required> <br><br>

        <label for="tipodocumento">Correo: * </label>
        <input type="text" formControlName="correoPostulante" required> <br><br>

        <label for="sexoid">Tipo documento: * </label>
        <select id="sexoid" formControlName="tipoDocumentoPostulante">
          <option value="0">--Seleccione una opcion--</option>
          <option *ngFor="let item of TipDocs" value="{{item.tipoDocumento}}">{{item.descripcion}}</option>
        </select><br><br>

        <label for="numdocumento">Numero Documento: * </label>
        <input type="text" formControlName="numdocumento" required><br><br>

        <label for="telefono">Telefono: * </label>
        <input type="text" formControlName="telefono" required><br><br>

        <label for="direccion">Nivel educativo: * </label>
        <select formControlName="educationalLevelId" name="educationalLevelId" id="postulateEducationalLevelId">
          <option value="0">--Seleccione una opcion--</option>
          <option *ngFor="let param of paramEducationalLevel" [value]="param.id">{{ param.name }}</option>
      </select>

      </div>

      <div class="col-6">

        <label for="fechanacimiento">Fecha Nacimiento: * </label>
        <input type="date" formControlName="fechanacimiento" required><br><br>

        <label for="vacantesDisponibles">Vacantes disponibles: * </label>
        <select id="vacantesDisponibles" formControlName="vacantesDisponibles">
          <option value="0">--Seleccione una opcion--</option>
          <option *ngFor="let item of vacantList" value="{{item.jobId}}">{{item.jobName}}</option>
        </select><br><br><br><br>

        <div class="upload-container">
          <label for="cv">Adjuntar Hoja de Vida</label>
          <input type="file" id="cv" name="cv" formControlName="hvPostulante" accept=".pdf,.doc,.docx"
            (change)="onFileSelected($event)" />
          <p class="file-name">{{ fileName || 'Ningún archivo seleccionado' }}</p>
        </div> <br><br>
        <div class="upload-container-re">
          <re-captcha [siteKey]="siteKey" (resolved)="onCaptchaResolved($event)"> </re-captcha>
        </div><br><br><br>
        <button class="btn-users" (click)="enviarFormulario()"> Enviar información</button> <br>


      </div>
    </div>


  </form>
</div>
