<app-navigation></app-navigation>
<br>
<br>
<br>

<div class="row">
    <div class="col-6">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1>Objetivos usuario:</h1><br>
                </div>
                <div class="col-8">
                    <select (change)="rolSelect($event)">
                        <option value="0">--Seleccione una opcion--</option>
                        <option *ngFor="let item of usuarios" [value]="item.usuarioId">{{item.nombre}} {{ item.usuarioId
                            ==
                            idusuario ? '(yo)' : ''}} </option>
                    </select>
                </div>
            </div><br>

            <div class="row">
                <div class="col-4">
                    <h1>Lider:</h1><br>
                </div>
                <div class="col-8">
                    <h1>{{ nombrelider }}</h1><br>
                </div>
            </div>

            <hr>

            <div class="card-container">
                <div *ngFor="let objetivo of objetivos" class="card">
                    <div class="card__header">
                        <h1>{{ objetivo.titulo }}</h1>
                        <i [ngClass]="claseIcono" (click)="abrirModal(objetivo)"></i>
                    </div> <br>
                    <br>
                    <div class="card__content">
                        <h3><strong>Descripción - resultado esperado:</strong><br> {{ objetivo.descripcion }}</h3><br>
                        <div class="row">
                            <div class="col-6">
                                <div class="barra-ponderacion"
                                    [style.width.%]="calcularAnchoPonderacion(objetivo.peso)">
                                    <p><strong>Peso:</strong> {{ calcularPorcentajePonderacion(objetivo.peso) }}% </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <h2> Fecha Inicio: {{ convertirFormatoFecha(objetivo.fechaInicio) }} Fecha Fin:
                                    {{convertirFormatoFecha(objetivo.fechaFin)}}</h2>

                            </div>
                        </div>

                    </div>
                    <div class="card__footer">

                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br><br>

    <div class="col-6">


        <div class="notification-bell" (click)="mostrarPopup()">
            <i class="fas fa-bell"></i>
            <div class="notification-counter">{{ contadorMensajes }}</div>
        </div>


        <div class="overlay" id="overlay">
            <div class="popup">
              <img src="../../../../assets/Notificaciones.png" class="notificacion"/>
              <br>
                <h1>Notificaciones</h1>
                <div *ngFor="let item of mensajesNotificacion">
                    <h2> <i class="fa-regular fa-comment"></i> {{ item.mensaje}}</h2>
                </div> <br><br><br><br><br><br><br>
                <button (click)="cerrarPopup()">Cerrar</button>
            </div>
        </div>


        <div class="container" *ngIf="acciones">
            <div style="padding-top: 8rem;">

                <div class="row">

                    <div class="col-6">
                        <h1>Objetivo: {{ objetivotitulo || '' }}</h1><br>
                    </div>
                    <div class="col-4" >
                        <h1>Calificación Objetivo: {{ calificacionObjetivo }}</h1>
                    </div>
                    <div class="col-6">
                        <h1>Peso logrado: {{ pesoActualObjetivos }} %</h1>
                    </div>
                </div>

                <table >
                    <thead>
                        <tr>
                            <th>Objetivo</th>
                            <th>Accion</th>
                            <th>Estado</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of accionesObjetivoSel|paginador:p_Size:page">
                            <td style="text-align: center;">{{ item.idObjetivo }}</td>
                            <td style="text-align: center;">{{ item.descripcion }}</td>
                            <td style="text-align: center;">{{ obtenerestado(item.idEstado) }}</td>
                            <td style="text-align: center;">{{ item.calificacion }}</td>
                            <td class="fa-solid fa-pen action-button" ngbTooltip="Editar"
                                (click)="editarAccion(item.id)"></td>
                            <td *ngIf="propietario" class="fa-solid fa-trash action-button" ngbTooltip="Eliminar"
                                (click)="eliminarAccion(item.id)">
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div >
                    <mat-paginator [length]="accionesObjetivo.length" [pageSize]="p_Size"
                        [pageSizeOptions]="optionsPage" (page)="pageEvent($event)" aria-label="page"
                        class="m-3"></mat-paginator>
                </div>

            </div>

            <h2 >{{ cargoToEdit ? 'Editar Accion' : 'Crear Nueva Accion' }}</h2><br>
            <form [formGroup]="AccionesObjForm" autocomplete="off">

                <div >
                    <label for="descripcion">Resultado esperado: *</label>
                    <textarea formControlName="descripcion" name="descripcion" required></textarea>
                </div><br>

                <label for="estado">Estado: *</label>
                <select id="estado" formControlName="estado">
                    <option *ngFor="let item of estadoAcciones" value="{{item.id}}">{{item.estado}}</option>
                </select><br><br>
                <div>
                    <div >
                        <label for="calificacion" >calificacion: *</label>
                        <input type="number" formControlName="calificacion">
                    </div><br>

                    <div>
                        <label for="comentarios"> Comentarios: *</label>
                        <textarea formControlName="comentarios" name="comentarios"></textarea>
                    </div><br>
                </div>


                <label for="evidencia" >Resultado esperado: * </label>
                <input type="text"  formControlName="evidencia"><br><br>

                <label for="fechaaccion" >Fecha Accion: * </label>
                <input type="date"  formControlName="fechaaccion" [attr.disabled]="true"><br><br>
                <br>
                <div class="row" *ngIf="!propietario">
                    <div class="col-6">
                        <button type="button" class="btn-users" (click)="guardaUsuarios()">{{ cargoToEdit ? 'Editar' :
                            'Guardar'
                            }}</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn-users">limpiar</button>
                    </div>
                </div>

            </form>
            <div class="canva" *ngIf="canva"><img src="../../../assets/load.gif" alt="Cargando" /></div>

        </div>
    </div>
</div>
