<app-navigation></app-navigation>

<div class="steps background-right">
    <div>
        <table class="steps-table">
            <thead>
                <tr>
                    <th>Etapa</th>
                    <th>¿Está habilitada?</th>
                    <th>Descripción</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let step of stepList">
                    <td class="bgclaro steps-table-name">{{step.name}}</td>
                    <td class="steps-table-center">
                      <span *ngIf="step.available == 0" class="fa-solid fa-circle text-danger"></span>
                      <span *ngIf="step.available == 1" class="fa-solid fa-circle text-success"></span>
                      {{ step.available == 1 ? "Si" : "No" }}
                    </td>
                    <td class="steps-table-desc">{{step.description}}</td>
                    <td class="action">
                        <span ngbTooltip="Editar" class="fa-solid fa-pen action-button" (click)="openEdit(step.id)"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="information__btn">
            <button type="button" (click)="openAdd()">Agregar Etapa</button>
        </div>
    </div>
</div>


<div class="canva" *ngIf="canva"><img src="../../assets/load.gif" alt="Cargando" /></div>
