$main: #9d070d;
$color2: #076AE2;
$color3: #1A80E5;
$color4: #004FAD;
$color5: #0054CE;
$backgligth: #f5eee5;
$color-tarjeta1:#ff885c;
$color-tarjeta2:#548e12;
$color-tarjeta3:#2ed7ed;
$color-tarjeta4:#1200d0;
$color-tarjeta5:#a823ff;
$white: #F0F0F0;
$gray: #E8EAEA;
$darkgray: #979797;
$black: #535353;
$shadow: #2121211e;
$error: #ED4337;
$errorback: #FFDDDD;
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;