<div class="modules background-right">
    <div class="modules__user">
        <img src="../../assets/Logotipo.png" alt="Asecofin Logo" class="modules__user--logo">
        <span class="modules__user--message">
            <p>¡Bienvenid@!</p>
            <p><img src="../../assets/avatar.png"  class="modules__user--profile"></p>
            <p>{{ userName }}</p>
            <p (click)="nuevoLogout()" style="cursor: pointer;"><b> Salir </b> <span class="fas fa-right-from-bracket fa-lg"></span></p>

        </span>
        <img src="../../assets/tiindux_logo.png" alt="Tiindux Logo" class="modules__user--tiindux">
    </div>
    <div class="modules__card">

        <div data-bs-toggle="modalFuncionarios" data-bs-target="#modalFuncionarios"  class="modules__card--rrhh" (click)="openModal(modalFuncionarios)" (mouseenter)="cambiarImagen($event,'rrhh')" (mouseleave)="restaurarImagen($event,'rrhh')"> <img src="{{rutaImagen('rrhh')}}" class="img-seleccion">    RRHH (Recursos Humanos) </div><br>
        <div class="modules__card--bienestar" (mouseenter)="cambiarImagen($event,'BIENESTAR')" (mouseleave)="restaurarImagen($event,'BIENESTAR')"> <img src="{{rutaImagen('BIENESTAR')}}"  class="img-seleccion"> Bienestar</div><br>
        <div class="modules__card--sst" (mouseenter)="cambiarImagen($event,'SST')" (mouseleave)="restaurarImagen($event,'SST')"><img src="{{rutaImagen('SST')}}"  class="img-seleccion">SST (Seguridad y Saludo en el Trabajo)</div><br>
        <div class="modules__card--conocimiento" (mouseenter)="cambiarImagen($event,'GESCON')" (mouseleave)="restaurarImagen($event,'GESCON')"><img src="{{rutaImagen('GESCON')}}" class="img-seleccion"> Gestion del conocimiento</div><br>
        <div data-bs-toggle="modalConfig" data-bs-target="#modalConfig" class="modules__card--rrhh" (click)="openModal(modalConfig)" (mouseenter)="cambiarImagen($event,'ADMON')" (mouseleave)="restaurarImagen($event,'ADMON')"><img src="{{rutaImagen('ADMON')}}"  class="img-seleccion">Administración</div><br>
    </div>
</div>


<ng-template #modalFuncionarios let-modal id="modalFuncionarios">
    <div class="modal-body-modules">
        <div class="modal-close-modules" (click)="closeModal()">
           Cerrar Ventana <i class="fa-regular fa-circle-xmark"></i>
        </div>
        <div class="encabezado">
            <img  src="../../../assets/Icono_RRHH_ventana_emergente.png">
            <p class="titulo__modal"><b>RRHH</b></p>
            <p>Selecciona una categoria para ingresar</p>
        </div>
        <div class="modal-form">
            <div class="modules__card">
                <div class="modules__card--estorg" (click)="openModule('employees/employee/list')">Estructura Organizacional</div>
                <div class="modules__card--personal" (click)="openModule('recruiter/vacancy/list')">Selección de personal</div>
                <div class="modules__card--desempeno" (click)="openModule('pages/performance/objetiveUser')" >Desempeño</div>
                <div class="modules__card--adminpersonal" (click)="openModule('absence/request/list')">Vacaciones y ausentismo</div>
                <div class="modules__card--encuestas" (click)="openModule('survey/pending/list')">Encuestas</div>
                <div class="modules__card--reportes" (click)="openModule('pages/reportes-usuarios')">Reportes desempeño</div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalConfig let-modal id="modalConfig">
    <div class="modal-body-modules">
        <div class="modal-close-modules" (click)="closeModal()">
           Cerrar Ventana <i class="fa-regular fa-circle-xmark"></i>
        </div>
        <div class="encabezado">
            <img  src="../../../assets/Icono_Administracion_ventana_emergente.png">
            <p class="titulo__modal"><b>ADMINISTRACIÓN</b></p>
            <p>Selecciona una categoria para ingresar</p>
        </div>
        <div class="modal-form">
            <div class="modules__card">
                <div class="modules__card--rol" (click)="openModule('pages/roles')" >Roles</div>
                <div class="modules__card--rol" (click)="openModule('pages/cargos')">Cargos</div>
                <div class="modules__card--rol" (click)="openModule('pages/permisos')">Permisos</div>
                <div class="modules__card--rol" (click)="openModule('pages/rutaspermisos')">Accesos</div>
                <div class="modules__card--rol" (click)="openModule('pages/usuarios')" >Usuarios</div>
                <div class="modules__card--rol" (click)="openModule('pages/empresas')">Empresas</div>
                <div class="modules__card--rol" (click)="openModule('pages/adminobjetivos')">Objetivos</div>
                <div class="modules__card--rol" (click)="openModule('pages/adminPreguntas')">Preguntas</div>
                <div class="modules__card--rol" (click)="openModule('pages/adminRespuestas')" >Respuestas</div>
                <div class="modules__card--rol" (click)="openModule('pages/adminCompetencias')" >Competencias</div>
            </div>
        </div>
    </div>
</ng-template>


<div class="canva" *ngIf="canva"><img src="../../assets/load.gif" alt="Cargando" /></div>
