@import '../../../variables.scss';
@import '../../../mixins.scss';

.modules {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100vh;

    &__user {
        height: 100%;
        width: 60%;
        background-image: url(../../../assets/Fondo_panel_izquierdo.png);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 40% 20%;

        &--logo {
            align-self: flex-start;
            justify-self: baseline;
            margin-top: 20%;
            margin-left: 39%;

            @media only screen and (max-width: $sm) {
                height: 5vh;
                transition: height 2s;
            }
        }

        &--message {
            & p {
                &:first-child {
                    font-size: 3.5rem;
                    font-style: normal;
                    letter-spacing: .25rem;
                    margin-bottom: 5%;

                    @media only screen and (max-width: $sm) {
                        font-size: 3rem;
                        transition: font-size 2s;
                    }
                }

                &:last-child {
                    font-weight: 300;
                }

                & img {
                    width: 5vw;
                    border-radius: 50%;
                }

                font-size: 2.5rem;
                color: $white;
                text-align: center;
            }
        }

        &--tiindux {
            justify-self: center;
            height: 8vh;
            margin-bottom: 5%;
        }
    }
}



.modules__card {
    align-self: center;
    margin: 4% 10%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    font-size: 2rem;

    & div {
        background-color: $color6;
        color: $colorNegro;
        width: 100%;
        cursor: pointer;
        border-radius: 1rem;
    }

    & div:hover,
    & div:focus {
        background-color: $color7;
        color: $white;
    }
}

.modal-form {
    .modules__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;


        & div {
            background-color: white;
            color: black;
            padding: 15px;
            text-align: center;
            font-size: 2rem;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 50px;
        }

        & div:hover,
        & div:focus {
            background-color: #da1e29;
            color: white;

        }
    }
}

.opacity-60 {
    opacity: 0.6;
}

.img-seleccion {
    width: 10rem;
}

.encabezado{
    text-align: center;
    font-size: 2rem;

    .titulo__modal{
        font-size: 5rem;
        color: black;
    }
    & img{
        width: 20rem;
    }
}