<div class="login">
  <div class="login__logo">
   
  </div>
  <div class="login__form">
    <div class="login__form--title">¡Bienvenid@!</div>
    <div class="login__form--info">
      <form [formGroup]="form" (ngSubmit)="nuevoLogin()">
        <div class="information__item">
          <div>
            <input type="text" class="input-login" formControlName="userName" placeholder="Usuario*" name="userName" />
            <ul *ngIf="errors.validate(userName)">
              <li *ngFor="let message of errors.getErrors(userName)">{{ message }}</li>
            </ul>
          </div>
        </div> <br>
        <div class="information__item">
          <div>
            <input type="password" class="input-login" formControlName="password" placeholder="Contraseña*" />
            <ul class="ul-login" *ngIf="!loginValid || !sessionValid || errors.validate(password)">
              <li *ngIf="!loginValid">El usuario o la contraseña no son válidos.</li>
              <li *ngIf="!sessionValid">La sesión ha caducado.</li>
              <li *ngFor="let message of errors.getErrors(password)">{{ message }}</li>
            </ul>
          </div>
        </div>
        <div class="information__btn">
          <button class="btn-login" type="submit">Ingresar</button>
          <a href="#">¿Olvidaste la contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="canva" *ngIf="canva"><img src="../../assets/load.gif" alt="Cargando" /></div>